/* RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato/Lato-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato/Lato-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato/Lato-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato/Lato-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    font-weight: 700;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: uppercase;
    padding: 32px 0 33px;
}

.logo {
    display: flex;
    font-size: 24px;
    letter-spacing: 0.15px;
}

.logo p {
    color: #f06c64;
}

.navigation {
    display: flex;
    font-size: 12px;
    letter-spacing: 0.04px;
}

.navigation li {
    margin: 10px 0 0 28px;
    position: relative;
}

.navigation li:hover {
    text-decoration: underline;
}

.navigation li:not(:last-child)::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    background-color: #494e62;
    border-radius: 50%;
    top: 51%;
    right: -15px;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.navigation li:first-child a {
    color: #f06c64;
}

.navigation li:before {
    background-color: #424657;
    width: 3px;
    height: 3px;
}

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.relative-block {
    position: relative;
    height: 594px;
}

.button {
    width: 16px;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    position: absolute;
    background-image: url(assets/images/chev.svg);
}

.button-left {
    top: 281px;
    left: 2px;
}

.button-left:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.button-right {
    top: 281px;
    left: 924px;
    transform: rotate(180deg);
}

.button-right:hover {
    transform: rotate(180deg) scale(1.3);
    transition: 0.2s;
}

.phone-vertical {
    position: absolute;
    top: 53px;
    left: 72px;
}

.phone-horizontal {
    position: absolute;
    top: 174px;
    left: 385px;
}

.services {
    background-color: #F2F2F2;
    color: rgba(118, 126, 158, 255);
    font-weight: normal;
    border-bottom: 6px solid #fff;
}

.services h2 {
    font-size: 30px;
    font-weight: 900;
    padding: 63px 0 21px 0;
    letter-spacing: -0.2px;
}

.services p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin-bottom: 46px;
    text-align: justify;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.tool:nth-child(3n-1) {
    margin: 0 2%;
}

.tool {
    width: 32%;
    display: flex;
}

.tool__image {
    margin: 1px 20px 0 1px;
}

.tool__description h3 {
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 0.45px;
}

.tool__description p {
    width: 219px;
    margin: 9px 0 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.35rem;
    word-spacing: 1px;
    text-align: justify;
    word-spacing: -2px;
    overflow: hidden;
    max-height: 65px;
}

.portfolio {
    background-color: #2d303a;
    color: #767e9e;
    border-bottom: 6px solid #323746;
}

.portfolio__heading {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    padding: 70px 0 26px 0;
}

.portfolio__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.portfolio__navigation ul {
    display: flex;
    margin: 11px 0 20px;
}

.portfolio__navigation li {
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    padding: 0 6.5px;
    height: 21px;
    display: flex;
    align-items: center;
}

.portfolio li+li {
    margin-left: 9px;
}

.portfolio__navigation li:first-child {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.portfolio__navigation li:hover {
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

.portfolio-images {
    padding-bottom: 68px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-bottom: 67px;
    overflow: hidden;
    height: 600px;

}

.about-us {
    background-color: #f2f2f2;
    color: #666d89;
    padding: 69px 0 36px;
    border-bottom: 6px solid #ffffff;
}

.about-us__heading {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
}

.about-us__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 26px 0 38px;
    letter-spacing: 0.01rem;
    width: 942px;
}

.about-us__users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.user {
    padding: 8px 0;
}

.user__heading {
    padding: 17px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    height: 35px;
    overflow: hidden;
    letter-spacing: -0.01rem;
}

.user__description {
    padding-top: 10px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
}

.user__social {
    padding: 23px 0;
}

.user__social a + a {
    margin-left: 5px;
}

.user__social img:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}

.contact-us {
    background-color: #f06c64;
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;
    padding: 69px 0 51px;
}
.contact-us .wrapper {
    display: grid;
    grid-template-columns: 621px 301px;
    grid-gap: 18px;
}

.contact-us h2 {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    grid-column-start: 1; 
    grid-column-end: 3; 
}

.contact-us__description {
    width: 942px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    padding: 9px 0 26px;
    letter-spacing: 0.01rem;
    grid-column-start: 1; 
    grid-column-end: 3; 
}

.contact-us__form form {
    display: flex;
    flex-direction: column;
    max-width: 621px;
    justify-content: space-between;
    height: 380px;
}

.contact-us__form .button {
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    color: #f48c8f;
}

.contact-us__form .button:hover {
    border: 1px solid #7e332f;
}

input,
textarea {
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    padding: 7px 15px;
}

input:focus,
textarea:focus {
    box-shadow: inset 0 0 3px #7e332f;
}

input::placeholder,
textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

textarea::placeholder {
    letter-spacing: -0.095rem;
}

textarea {
    height: 202px;
}

.contact-us__information h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.contact-us__information h3 + p,
.contact-us__information a {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    color: #f0d8d9;
    margin: 10px 0 22px;
    text-align: justify;
}

.contact-us__information h3 + p {
    word-spacing: -0.07rem;
}

.ico_location {
    content: url('./assets/images/location.png');
    margin: 0 10px 0 4px;
}

.ico_phone {
    content: url('./assets/images/phone.png');
    margin: 0 7px 0 2px;
}

.ico_letter {
    content: url('./assets/images/mail.png');
    margin: 0 7px 0 1px;
}

.footer {
    background-color: #2d303a;
    color: #666d89;
}

.copyright {
    font-size: 12px;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.social-media a + a {
    margin-left: 5px;
}

.social-media img:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}